body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

header, main, footer {
    max-width: 650px;
    margin: 0 auto;
}

main {
    padding-bottom: 1em;
}
header, footer {
    border-radius: .5em;
    padding: 1rem;
    background-color: #284b63;
    color:azure;
    text-align: center;
}

main ul a:link {
    color: #277da1;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

footer a:link {
    color: azure;
}

footer a:visited {
    color: #e4dcc9;
}

header img {
    width: 200px;
    margin: 0 auto;
    border-radius: .05em;
    box-shadow: 5px 10px #888888;
}