@media only screen and (min-width: 32.5em) {
    h1 {
        font-family: "Cormorant";
        font-size: 32px;
        color: hsl(358, 79%, 47%);
        text-shadow: 3px 3px 5px hsl(358, 50%, 69%);
        margin-left: 10px;
    }
    
    .motto {
        font-size: 18px;
        font-weight: 300;
        align-items: center;
        margin-top: 10px;
        margin-left: 30px;
    }
    header img {
        width: 80px;
        height: auto;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a { 
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }

    header img {
        width: 128px;
        height: auto;
    }
    .headings {
        padding: 0 5px;
    }
   .weathersummary {
        width: 960px;
        height: 300px;
        position: relative;
   }
   .weatherdetails {
       position: absolute;
   }
   .fctitle {
       display: block;
   }
   .forecast {
       width: 80%;
       margin-left: 96px;
       margin-bottom: 30px;
       max-width: 960px;
       height: 100px;
       display: flex;
       flex-flow: row wrap; 
       border-right: 1px solid black; 
   }

   .daysofweek {
       flex: 1 1 auto;
       font-weight: 600;
       font-size: 1rem;
       color: black;
       background-color:white;
       text-align: center;
       border-left: 1px solid black; 
       border-bottom: 1px solid black;  
   }

   .daysofweek img{
       padding: 5px;
   }
   .weekday {
       display: block;
       padding: 5px;
       border-top: 1px solid black;
       border-bottom: 2px solid black;
       background-color:hsl(195, 69%, 40%);
       text-align: center;
   }
   .temp {
       display: block;
       padding: 5px;
       background-color: white;
       text-align: center;
    }
    article {
        margin-bottom: 20px;
    }
    article img {
        max-width: 400px;
        float: right;
        margin-left: 12px;
    }
    .clearfix::after {
        content:"";
        clear: both;
        display:table;
    }
    .contactus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-weight: 500;
    }
   
    .contactus img  {   
        display: grid;     
        grid-column: 1;
        justify-self: center;
        margin: 20px;
        width: 250px;
        height: auto;
    }
    
    .contact {
        grid-column: 2;
        align-self: center;
        margin-top: 20px;
    }  
    
    .contact img {
        float: left;
        display: grid;        
        width: 37px;
        height: 37px;
    }
    
    .clearfix::after {
        content:"";
        clear: both;
        display:table;
    }

    .gallery {
        max-width: 1280px;
        margin: 0 auto;
    }
    
    figure {
        margin: 12px;
    }

    /* styling for home page */
    
    .towns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
      
    .towns:nth-child(odd) img { 
          grid-column: 2;
    }
      
    .towns:nth-child(odd) p {
          grid-column: 1;
          grid-row: 1;
    }
}