header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    color: rgb(0, 92, 122); 
}

h1 {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #eee;  
    text-align: center;
}

main section {
    margin: 5px;  
    border: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
}

footer {
    font-weight: 600;
    border-top: 1px solid #555;
    text-align: center;
    padding: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
}

section img {
    width: 200px;
    height: 250px;
    box-shadow: 0 0 50px #444;
    margin-bottom: 5px;
}
